  <div class="row">
    <div class="latest-monitor content-block">
      <h1 class="latest-monitor_headline home-headline-setting">Latest monitors</h1>
      <div class="latest-monitor_card-wrapper card-deck">
        {{#each monitors}}
        <div class="latest-monitor_card card p-2">
          {{#if imgurl}}
          <a href="/monitors/show/{{id}}">
            <img src="{{imgurl}}" alt="{{company}} {{model}}" class="latest-monitor_card_img card-img-top">
          </a> {{/if}}
          <div class="card-block latest-monitor_card-block">
            <a href="/monitors/show/{{id}}">
              <h5 class="latest-monitor_card-block_title card-title">
                {{company}} {{model}}
              </h5>
            </a>
            <p class="latest-monitor_card-block_text card-text">
              <div class="latest-monitor_card-block_footer card-footer">
                <small class="latest-monitor_card-block_footer_text text-muted">Added by <a href="/user/{{user.id}}">{{user.username}}</a> on {{ formatDate date 'YYYY-MM-DD'}}</small>
              </div>
            </p>
          </div>
        </div>
        {{else}}
        <h4>No monitors to display</h4>
        {{/each}}

      </div>
    </div>
  </div>